{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="my-4">Workstation Status</h1>
        </div>
    </div>    
    <div class="row" id="workstation-cards">
        <!-- Workstation cards will be injected here by JavaScript -->
    </div>
</div>    
<script>
    function fetchStatus() {
        $.getJSON('/status', function (data) {
            let cardsHtml = '';
            data.forEach(function (ws) {
                const cardClass = ws.active ? 'card-active' : 'card-inactive';
                cardsHtml += `
                        <div class="col-md-6">
                            <div class="card ${cardClass} mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">${ws.workstation_name}</h5>
                                    <p class="card-text">Operator: ${ws.operator_name}</p>
                                    <p class="card-text">Start Time: ${ws.start_time}</p>
                                </div>
                            </div>
                        </div>
                    `;
            });
            $('#workstation-cards').html(cardsHtml);
        });
    }

    $(document).ready(function () {
        fetchStatus();
        setInterval(fetchStatus, 5000);  // Refresh every 5 seconds
    });
</script>
{% endblock %}