{% extends "base.html" %}

{% block content %}


<div class="container-fluid h-100">

    <div class="row justify-content-center text-black">
        <div class="col-12 col-lg-4"><input id="pdf-input" type="file" style="visibility:hidden" accept=".pdf"></div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center justify-content-center"><h4>Apontamentos da Produção - {{machine_names[2][1]}}</h4></div>
        <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"></div>
    </div>

    <!--Apontamento de produção-->
    <div class="row text-black">

        <!--Campo Producao-->

        <div class="col-12 col-lg-12 px-1 py-1">
            <div class="card text-black o-hidden h-100 bg-light border-info">
                <div class="card-header text-center" id="producao-estado">
                    <span class="h3">Produção</span>
                </div>
                <div class="card-body">
                    <form id="producao-formulario">

                        <div class="row">
                            <div class="col-12 col-lg-3 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            </div>
                            <div class="col-12 col-lg-6 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                                <button type="button" class="btn btn-primary btn-lg btn-block" id="bt-inicio-producao">&nbsp &nbsp &nbsp Iniciar Produção</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-3 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            </div>
                            <div class="col-12 col-lg-6 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                                <button type="button" class="btn btn-success btn-lg btn-block" id="bt-fim-producao">&nbsp &nbsp &nbspFinalizar Produção</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!--Apontamento de parada e regufo-->

    <div class="row text-black">

        <!--Campo Refugo-->

        <div class="col-12 col-lg-6 px-1 py-1">
            <div class="card text-black o-hidden h-100 bg-light border-info">
                <div class="card-header text-center">
                    <span class="h3">Refugo</span>
                </div>
                <div class="card-body">
                    <form id="refugo-formulario">

                        <div class="row">      
                            <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                <span class="w-25">Componente:</span>
                                <select class="form-control h-100 w-25 mx-1" id="select-componente" required></select>
                                <span class="w-25">Motivo:</span>
                                <select class="form-control h-100 w-25 mx-1" id="select-motivo-refugo" required></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                <span class="w-25">Quantidade:</span>
                                <input type="number" class="h-100 w-25 mx-1" id="qtde-refugo" placeholder="" required>
                                <span class="w-25">Justificativa:</span>
                                <input type="text" class="h-100 w-25 mx-1" id="refugo-justificativa" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 px-1 py-1 d-flex justify-content-end text-center align-items-end">
                                <button type="submit" class="btn btn-primary mx-1 h-100" id="adicionar-refugo"><i class="fas fa-plus-circle"></i> Adicionar</button>
                                <button type="button" class="btn btn-danger mx-1 h-100" id="excluir-refugo"><i class="fas fa-trash"></i> Apagar</button>
                            </div>
                        </div>
                        
                    </form>

                    <div class="row">
                        <div class="col-12 px-1 py-1 d-flex justify-content-between text-center align-items-center">
                            <div class="table-responsive">
                                <table class="table text-black" id="tabela-refugo"><thead class="thead-default"></thead>
                                </table>
                            </div>
                        </div>     
                    </div>

                </div>
            </div>
        </div>

        <!--Campo Parada-->

        <div class="col-12 col-lg-6 px-1 py-1">
            <div class="card text-black o-hidden h-100 bg-light border-info">
                <div class="card-header text-center">
                    <span class="h3">Parada</span>
                </div>
                <div class="card-body">
                    <form id="parada-formulario">
                        <div class="row">
                            <div class="col-12 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                                <span class="w-25">Motivo: </span>
                                <select class="form-control w-25 h-100 mx-1" id="select-motivo-parada" required></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                                <button type="button" class="btn btn-danger  w-25 mx-1 h-100" id="iniciar-parada"><i class="fas fa-stop"></i> Parar </button>
                                <button type="button" class="btn btn-success w-25 mx-1 h-100" id="finalizar-parada"><i class="fas fa-play"></i> Retomar </button>
                            </div>
                        </div>
                    </form>
                    
                    <div class="row">
                        <div class="col-4 col-lg-4 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            <img class="fa-blink" height="30" id='alarme1' src="{{ url_for('static', filename='senai-1.0.0/images/alerta.png') }}"/>
                        </div>
                        <div class="col-4 col-lg-4 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            <span class="h5">Paradas em Aberto</span>
                        </div>
                        <div class="col-4 col-lg-4 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            <img class="fa-blink" height="30" id='alarme2' src="{{ url_for('static', filename='senai-1.0.0/images/alerta.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-1 py-1 d-flex justify-content-between text-center align-items-center">
                            <div class="table-responsive">
                                <table class="table text-black" id="tabela-parada"><thead class="thead-default"></thead>
                                </table>
                            </div>
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-12 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                            <span class="h5">Paradas Realizadas</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-1 py-1 d-flex justify-content-between text-center align-items-center">
                            <div class="table-responsive">
                                <table class="table text-black" id="tabela-finalizadas"><thead class="thead-default"></thead>
                                </table>
                            </div>
                        </div>     
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="setup" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SETUP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="setup-formulario">
                    <div class="form-row d-flex justify-content-center text-center">
                        <div class="col-12 p-2">
                            <i class="fa fa-cog bigIcon my-2"></i>
                            <div class="row">
                                <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                    <span class="w-50">Produto:</span>
                                    <select class="form-control h-100 w-50 mx-1" id="select-produto" required></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                    <span class="w-50">Ordem:</span>
                                    <input type="text w-50" class="form-control my-2" id="adicionar-lote" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                    <span class="w-50">Tempo padrão:</span>
                                    <input type="number w-50" class="form-control my-2" id="adicionar-padrao" disabled required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1 py-1 d-flex justify-content-start text-center align-items-center">
                                    <span class="w-50">Peças por ciclo:</span>
                                    <input type="number w-50" class="form-control my-2" id="adicionar-ciclo" disabled required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1 py-1 d-flex justify-content-around text-center align-items-center">
                                    <button type="button" class="btn btn-secondary my-2 w-50" data-dismiss="modal">Cancelar</button>
                                    <button type='submit' class="btn btn-success my-2 w-50" id='bt-salvar'>Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="apagar-refugo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">Apagar refugo ?<button class="btn btn-info my-2 w-100" id="botao-confirmacao1">Confirmar</button></div>
        </div>
    </div>
</div>

<!--Modal Finalizar Parada-->
<div class="modal fade" id="fim-parada" tabindex="-1" role="dialog" style="z-index: 1600;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Finalizar parada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="retomar-formulario">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Justificativa:</label>
                        <input type="text" class="form-control" id="justificativa" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type='button' class="btn btn-success" id='bt-retomar'><i class="fas fa-save"></i> Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script>
    /*Preencher cartões das máquinas*/
    jQuery.ajax({
        url:'/producao',
        type: 'GET',
        data: {'id-maquina': '3'},
        success:  function(response){
            for (let index = response['all'].length - 1; index >= 0; index--) {
                const production = response['all'][index];
                const parada = response['parada'];
                console.log(parada[0]);
                console.log( production)
                if (production[5] == 'Rodando'){
                    jQuery('#bt-inicio-producao').prop('disabled', true);
                    jQuery('#bt-inicio-producao').removeClass().addClass('btn btn-info btn-lg btn-block');
                    jQuery('#bt-inicio-producao').text('Inicio de Produção: ' + production[2]);
                    jQuery('#select-componente').prop('disabled', false);
                    jQuery('#select-motivo-refugo').prop('disabled', false);
                    jQuery('#qtde-refugo').prop('disabled', false);
                    jQuery('#refugo-justificativa').prop('disabled', false);
                    jQuery('#adicionar-refugo').prop('disabled', false);
                    jQuery('#excluir-refugo').prop('disabled', false);
                    jQuery('#select-motivo-parada').prop('disabled', false);
                    jQuery('#iniciar-parada').prop('disabled', false);
                    if(parada[0]=='parada'){
                        jQuery('#alarme1').show();
                        jQuery('#alarme2').show();
                        jQuery('#finalizar-parada').prop('disabled', false);
                        jQuery('#iniciar-parada').prop('disabled', true);
                        jQuery('#bt-fim-producao').prop('disabled', true);
                        console.log('parada');
                    }
                    else{
                        jQuery('#alarme1').hide();
                        jQuery('#alarme2').hide();
                        jQuery('#finalizar-parada').prop('disabled', true);
                        jQuery('#iniciar-parada').prop('disabled', false);
                        jQuery('#bt-fim-producao').prop('disabled', false);
                        console.log('funcionando');
                    }
                }
                else{
                    jQuery('#bt-inicio-producao').removeClass().addClass('btn btn-primary btn-lg btn-block');
                    jQuery('#bt-inicio-producao').text('Iniciar Produção');
                    jQuery('#bt-inicio-producao').prop('disabled', false);
                    jQuery('#select-componente').prop('disabled', true);
                    jQuery('#select-motivo-refugo').prop('disabled', true);
                    jQuery('#qtde-refugo').prop('disabled', true);
                    jQuery('#refugo-justificativa').prop('disabled', true);
                    jQuery('#adicionar-refugo').prop('disabled', true);
                    jQuery('#excluir-refugo').prop('disabled', true);
                    jQuery('#select-motivo-parada').prop('disabled', true);
                    jQuery('#iniciar-parada').prop('disabled', true);
                    jQuery('#finalizar-parada').prop('disabled', true);
                    jQuery('#bt-fim-producao').prop('disabled', true);
                    jQuery('#alarme1').hide();
                    jQuery('#alarme2').hide();
                    jQuery('#finalizar-parada').prop('disabled', true);
                }
            }
        }
    });

    function humanDate(timestamp){
        date = new Date(timestamp);
        var string = date.getDate() + "/" +  date.getMonth() + "/" + date.getFullYear() + "  " + 
                     date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        return string;
    }

    jQuery('#bt-inicio-producao').on('click', function(e){
        jQuery('#setup').modal('show');
        
    });

    jQuery('#setup-formulario').on('submit', function(e){
        e.preventDefault();
        jQuery.ajax({
            url:'/producao',
            type: 'POST',
            data: {'id_maquina': 3, 'liberacao':'TRUE', 'produto':jQuery('#select-produto').val(), 'lote': jQuery('#adicionar-lote').val(), 'tpadrao': jQuery('#adicionar-padrao').val(), 'ciclo': jQuery('#adicionar-ciclo').val()},
                success:  function(response){
                if(response['created'] != 1){
                    jQuery('#setup').modal('hide');
                    jQuery('#message').modal('show');
                    jQuery('#messageText').text('Produção não iniciada');
                    setTimeout(function(){jQuery('#message').modal('hide');}, 1500);
                }
                else{
                    jQuery('#setup').modal('hide');
                    jQuery('#message').modal('show');
                    jQuery('#messageText').text('Operação iniciada com sucesso');
                    setTimeout(function(){jQuery('#message').modal('hide');}, 3000);
                    setTimeout(function(){
                    window.location.reload();
                    }, 3000);
                }
            }
        });
    });

    jQuery('#bt-fim-producao').on('click', function(e)
    {
        e.preventDefault();
        jQuery.ajax({
            url:'/producao',
            type: 'PUT',
            data: {'finalizada': 1, 'id_maquina': 3},
            success:  function(response){
                if(response['updated'] != 1){
                    jQuery('#message').modal('show');
                    jQuery('#messageText').html('ATENÇÃO <br> Falha na atualização dos dados');
                    setTimeout(function(){jQuery('#message').modal('hide');}, 3500);
                }
                else{
                    jQuery('#message').modal('show');
                    jQuery('#messageText').text('Operação atualizada com sucesso');
                    setTimeout(function(){jQuery('#message').modal('hide');}, 1500);
                    setTimeout(function(){
                    window.location.reload();
                    }, 3000); 
                }
            }
        });
    });


    /*Motivos*/
    
    var motivos = {{ motivos | safe }};
    console.log(motivos);
    motivos.forEach(function(motivo){
        if(motivo[1] == 'Parada'){
            jQuery("#select-motivo-parada").append( "<option value='" + motivo[0] + "'>" + motivo[2] + "</option>" );
        }
        else{    
            jQuery("#select-motivo-refugo").append( "<option value='" + motivo[0] + "'>" + motivo[2] + "</option>" );
        }
    });

    var componentes = {{ componentes | safe }};
    console.log(componentes);
    componentes.forEach(function(componente){
            jQuery("#select-componente").append( "<option value='" + componente[0] + "'>" + componente[2] + "</option>" ); 
    });

    var itens = {{ produtos | safe }};
    console.log(itens);
    itens.forEach(function(item){
            jQuery("#select-produto").append( "<option value='" + item[0] + "'>" + item[2] + "</option>" ); 
    });

    var $select1 = jQuery( '#select-produto' );

    $select1.on( 'change', function() {
        var x = document.getElementById("select-produto").selectedIndex;
        jQuery( '#adicionar-padrao').val(itens[x][3]);
        jQuery( '#adicionar-ciclo').val(itens[x][2]);
    }).trigger( 'change' );
    
    /*Refugo*/
    var table_refugo;
    jQuery.ajax({
        url:'/refugo',
        type: 'GET',
        data: {'id-maquina': '3'},
        success:  function(response){
            /*table*/
            table_refugo = jQuery('#tabela-refugo').DataTable(
            {
                language:{"url": "{{ url_for('static', filename='datatable-1.10.22/pt-br.json') }}"},
                pageLength : 5,
                bLengthChange: false,
                bFilter: false,
                scrollX: false,
                info: false,
                ordering: false,
                data: response['data'],
                columns: [{title: "N° registro"}, {title: "Componente"}, {title: "Motivo"}, {title: "Quantidade"}, {title: "Data"}, {title: "Justificativa"}]
            });
            /*Users table row handler*/
            jQuery('#tabela-refugo tbody').on('click', 'tr', function () 
            {
                var tr = jQuery(this).closest('tr');
                var row = table_refugo.row(tr);
                /*Check if row is empty*/
                if (typeof row.data() === 'undefined'){return null;}
                /*Selected row*/
                if (jQuery(this).hasClass('tableSelected')){
                    jQuery(this).removeClass('tableSelected');
                }
                else {
                    table_refugo.$('tr.tableSelected').removeClass('tableSelected');
                    jQuery(this).addClass('tableSelected');
                }    

            });
        }
    });
    jQuery('#refugo-formulario').on('submit', function(e){
        e.preventDefault();
        jQuery.ajax({
            url:'/refugo',
            type: 'POST',
            data: {'id_maquina': 3, 'id_motivo':  jQuery('#select-motivo-refugo').val(), 'id_componente':  jQuery('#select-componente').val(), 'qtde_refugo':  jQuery('#qtde-refugo').val(), 'justificativa': jQuery('#refugo-justificativa').val()},
            success:  function(response){
                jQuery('#message').modal('show');
                jQuery('#messageText').text('Refugo adicionado com sucesso');
                setTimeout(function(){ 
                    jQuery('#message').modal('hide'); 
                    location.reload(); 
                }, 1500);  
            }
        });
    }); 
    jQuery('#excluir-refugo').on('click', function(e){
        var selectedRow = table_refugo.row('.tableSelected');
        if(selectedRow[0].length == 0){
            jQuery('#message').modal('show');
            jQuery('#messageText').text('Refugo não selecionado');
            setTimeout(function(){ 
                jQuery('#message').modal('hide'); 
            }, 1500);  
            return null;
        };
        jQuery('#apagar-refugo').modal('show');
    });
    jQuery('#botao-confirmacao1').on('click', function(e){
        jQuery('#apagar-refugo').modal('hide');
        var selectedRow = table_refugo.row('.tableSelected');
        jQuery.ajax({
            url: '/refugo',
            type: 'DELETE',
            data: {'id': selectedRow.data()[0]},
            success: function(response){
                jQuery('#message').modal('show');
                jQuery('#messageText').text('Refugo removido com sucesso');
                setTimeout(function(){ 
                    jQuery('#message').modal('hide'); 
                }, 1500);  
                selectedRow.remove().draw();
            }
        });
    });

    /*Parada*/
    var table_parada;
    jQuery.ajax({
        url:'/parada',
        type: 'GET',
        data: {'id-maquina': '3'},
        success:  function(response){
            /*Table*/
            table_parada = jQuery('#tabela-parada').DataTable(
            {
                language:{"url": "{{ url_for('static', filename='datatable-1.10.22/pt-br.json') }}"},
                pageLength : 5,
                bLengthChange: false,
                bFilter: false,
                info: false,
                ordering: false,
                paging: false,
                data: response['data'],
                columns: [{title: "N° registro", visible: false}, {title: "Motivo"}, {title: "Data inicio"}, {title: "Tempo de Parada", visible: false}]
            });
            /*Users table row handler*/
            jQuery('#tabela-parada tbody').on('click', 'tr', function () 
            {
                var tr = jQuery(this).closest('tr');
                var row = table_parada.row(tr);
                /*Check if row is empty*/
                if (typeof row.data() === 'undefined'){return null;}
                /*Selected row*/
                if (jQuery(this).hasClass('tableSelected')){
                    jQuery(this).removeClass('tableSelected');
                }
                else {
                    table_parada.$('tr.tableSelected').removeClass('tableSelected');
                    jQuery(this).addClass('tableSelected');
                }    

            });
        }
    });
    jQuery('#iniciar-parada').on('click', function(e){
        e.preventDefault();
        jQuery.ajax({
            url:'/parada',
            type: 'POST',
            data: {'id_maquina':  3, 'id_motivo':  jQuery('#select-motivo-parada').val()},
            success:  function(response){
                jQuery('#message').modal('show');
                jQuery('#messageText').text('Parada adicionada com sucesso!');
                setTimeout(function(){ 
                    jQuery('#message').modal('hide'); 
                }, 1500);
                jQuery('#bt-fim-producao').prop('disabled', true);
                jQuery('#alarme1').show();
                jQuery('#alarme2').show();
                jQuery.ajax({
                    url:'/parada',
                    type: 'GET',
                    data: {'id-maquina': '3'},
                    success:  function(response){
                        /*Preparar dados*/
                        var eventData = response;
                        /*Atualizar a tabela*/
                        table_parada.clear();
                        table_parada.rows.add(eventData['data']);
                        table_parada.draw();
                        jQuery('#message').modal('hide');
                        if(table_parada.data().count() == 0){
                            jQuery('#alarme1').hide();
                            jQuery('#alarme2').hide();
                            jQuery('#finalizar-parada').prop('disabled', true);
                        }
                        else{
                            jQuery('#alarme1').show();
                            jQuery('#alarme2').show();
                            jQuery('#iniciar-parada').prop('disabled', true);
                            jQuery('#finalizar-parada').prop('disabled', false);
                            jQuery('#bt-fim-producao').prop('disabled', true);
                        }
                    }
                });
            }
        });
    });

    jQuery('#finalizar-parada').on('click', function(e){
        jQuery('#fim-parada').modal('show');
        jQuery('#justificativa').val('');
        });

    jQuery('#bt-retomar').on('click', function(e){
        e.preventDefault();
        jQuery.ajax({
            url:'/parada',
            type: 'PUT',
            data: {'id_maquina': 3, 'justificativa':  jQuery('#justificativa').val()},
            success:  function(response){
                jQuery('#fim-parada').modal('hide');
                jQuery('#message').modal('show');
                jQuery('#messageText').text('Produção iniciada novamente');
                jQuery('#alarme1').hide();
                jQuery('#alarme2').hide();
                setTimeout(function(){ 
                    jQuery('#message').modal('hide'); 
                }, 1500);
                jQuery.ajax({
                    url:'/parada-fim',
                    type: 'GET',
                    data: {'id-maquina': '3'},
                    success:  function(response){
                        /*Preparar dados*/
                        var eventData = response;
                        /*Atualizar a tabela*/
                        table_parada_fim.clear();
                        table_parada_fim.rows.add(eventData['data']);
                        table_parada_fim.draw();
                        jQuery.ajax({
                            url:'/parada',
                            type: 'GET',
                            data: {'id-maquina': '3'},
                            success:  function(response){
                                /*Preparar dados*/
                                var eventData = response;
                                /*Atualizar a tabela*/
                                table_parada.clear();
                                table_parada.rows.add(eventData['data']);
                                table_parada.draw();
                                jQuery('#alarme1').hide();
                                jQuery('#alarme2').hide();
                                jQuery('#iniciar-parada').prop('disabled', false);
                                jQuery('#finalizar-parada').prop('disabled', true);
                                jQuery('#bt-fim-producao').prop('disabled', false);
                            }
                        }); 
                    }
                });  
            }
        });
    }); 

    var table_parada_fim;
    jQuery.ajax({
        url:'/parada-fim',
        type: 'GET',
        data: {'id-maquina': '3'},
        success:  function(response){
            /*Table*/
            table_parada_fim = jQuery('#tabela-finalizadas').DataTable(
            {
                language:{"url": "{{ url_for('static', filename='datatable-1.10.22/pt-br.json') }}"},
                pageLength : 5,
                bLengthChange: false,
                bFilter: false,
                info: false,
                ordering: false,
                paging: false,
                data: response['data'],
                columns: [{title: "N° registro", visible: false}, {title: "Motivo"}, {title: "Data inicio"},{title: "Data Fim"}, {title: "Tempo de Parada"}, {title: "Justificativa"}]
            });
        }
    });

</script>



{% endblock %}