{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row">
        {% for workstation in workstations %}
        <div class="col-md-4 mb-4">
            <div class="card {{ workstation['border_color'] }} border-3">
                <div class="card-body">
                    <h5 class="card-title">{{ workstation['name'] }}</h5> <!-- Nome da workstation -->
                    <p class="card-text">
                        <strong>Operador:</strong> {{ workstation['operator_name'] }}
                    </p>
                    <p class="card-text">
                        <strong>Início da Sessão:</strong> 
                        {% if workstation['start_time'] %}
                            {{ workstation['start_time'].strftime('%d/%m/%Y %H:%M:%S') }}
                        {% else %}
                            Sessão não iniciada
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Status:</strong> {{ workstation['status'] }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}