{% extends "base.html" %}

{% block content %}

<div class="container-fluid h-100">

    <div class="row justify-content-center text-black">
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center justify-content-center"><h4>Monitoramento</h4></div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        </div>
    </div>

    <div class="row justify-content-center text-black">

        <div class="col-12 col-lg-12 px-1 py-1">
            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                <div class="card-header bg-danger" id="card-1">
                    <span class="h4 mr-auto">{{ machine_names[0][1] }}</span>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center text-black">
                        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center ">
                            <div>
                                <output id="dtinicio" style="font-size: 20px;"></output>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center ">
                            <div class="alert alert-success" id="estado-setup" role="alert"></div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-center ">
                            <div>
                                <output id="data" style="font-size: 20px;"></output>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-12 col-lg-2 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Peças</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <canvas class="canvasRing" id="value-1" width="180" height="180"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Meta</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <canvas class="canvasRing" id="value-5" width="180" height="180"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">OEE</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <canvas class="canvasRing" id="oee-1" width="180" height="180"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <canvas class="canvasChart" id="grafico-1" height="215"></canvas> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-center">

                        <div class="col-12 col-lg-6 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Paradas [Minutos]</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-lg-4 px-1 py-1">
                                            <canvas class="canvasRing" id="value-3" width="180" height="180"></canvas>
                                        </div>
                                        <div class="col-12 col-lg-8 px-1 py-1">
                                            <canvas class="canvasChart" id="grafico-3" height="215"></canvas> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Refugos</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-lg-4 px-1 py-1">
                                            <canvas class="canvasRing" id="value-4" width="180" height="180"></canvas>
                                        </div>
                                        <div class="col-12 col-lg-8 px-1 py-1">
                                            <canvas class="canvasChart" id="grafico-4"  height="215"></canvas> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start">

                        <div class="col-12 col-lg-6 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">  
                                    <div class="col-12 col-lg-12 px-1 py-1">
                                        <div class="row justify-content-center">
                                            <h5 class="card-title">Tempo de Ciclo [s]</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <canvas class="canvasChart" id="grafico-2" height="295"></canvas> 
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-lg-8 px-1 py-1 d-flex justify-content-center text-center align-items-center">
                                                <div class="alert alert-success" id="takt" role="alert">Ciclo Médio</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Primeiro Turno</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <table class="table-sm table-striped" style="width: 100%;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Inicio</th>
                                                <th scope="col">Fim</th>
                                                <th scope="col">Quantidade</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">06:05</th>
                                                <th scope="row">07:00</th>
                                                <td id="qt1"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">07:00</th>
                                                <th scope="row">08:00</th>
                                                <td id="qt2"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">08:00</th>
                                                <th scope="row">09:00</th>
                                                <td id="qt3"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">09:00</th>
                                                <th scope="row">10:00</th>
                                                <td id="qt4"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">10:00</th>
                                                <th scope="row">11:00</th>
                                                <td id="qt5"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">11:00</th>
                                                <th scope="row">12:00</th>
                                                <td id="qt6"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">12:00</th>
                                                <th scope="row">13:00</th>
                                                <td id="qt7"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">13:00</th>
                                                <th scope="row">14:00</th>
                                                <td id="qt8"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">14:00</th>
                                                <th scope="row">15:00</th>
                                                <td id="qt9"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">15:00</th>
                                                <th scope="row">15:48</th>
                                                <td id="qt10"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div> 

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 px-1 py-1">
                            <div class="card text-black o-hidden bg-light border-info text-center h-100">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h5 class="card-title">Segundo Turno</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <table class="table-sm table-striped" style="width: 100%;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Inicio</th>
                                                <th scope="col">Fim</th>
                                                <th scope="col">Quantidade</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">18:30</th>
                                                <th scope="row">19:00</th>
                                                <td id="qt11"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">19:00</th>
                                                <th scope="row">20:00</th>
                                                <td id="qt12"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">20:00</th>
                                                <th scope="row">21:00</th>
                                                <td id="qt13"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">22:00</th>
                                                <th scope="row">23:00</th>
                                                <td id="qt14"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">23:00</th>
                                                <th scope="row">00:00</th>
                                                <td id="qt15"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">00:00</th>
                                                <th scope="row">01:00</th>
                                                <td id="qt16"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">01:00</th>
                                                <th scope="row">02:00</th>
                                                <td id="qt17"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">02:00</th>
                                                <th scope="row">03:00</th>
                                                <td id="qt18"></td>
                                              </tr>
                                              <tr>
                                                <th scope="row">03:00</th>
                                                <th scope="row">03:42</th>
                                                <td id="qt19"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div> 

                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>

    </div>


</div>


<script>


function atualizaRelogio(){ 
	var momentoAtual = new Date();
	var vhora = momentoAtual.getHours();
	var vminuto = momentoAtual.getMinutes();
	var vsegundo = momentoAtual.getSeconds();	
	var vdia = momentoAtual.getDate();
	var vmes = momentoAtual.getMonth() + 1;
	var vano = momentoAtual.getFullYear();
			
	if (vdia < 10){ vdia = "0" + vdia;}
	if (vmes < 10){ vmes = "0" + vmes;}
	if (vhora < 10){ vhora = "0" + vhora;}
	if (vminuto < 10){ vminuto = "0" + vminuto;}
	if (vsegundo < 10){ vsegundo = "0" + vsegundo;}

	dataFormat = vdia + "/" + vmes + "/" + vano;
	horaFormat = vhora + " : " + vminuto + " : " + vsegundo;

	document.getElementById("data").innerHTML = 'Atual: ' + dataFormat +'   '+ horaFormat;

	setTimeout("atualizaRelogio()",1000);
};

var table;

function drawRing(canvas, color, value){
        var ctx = canvas.getContext('2d');
        /*Draw text*/
        ctx.textAlign = 'center';
        ctx. textBaseline = 'middle';
        ctx.fillStyle = "black";
        ctx.font = "30px Arial";
        ctx.fillText(String(value), (canvas.width / 2), (canvas.height / 2));
        /*Draw ring*/
        ctx.beginPath()
        ctx.arc(Math.floor(canvas.width / 2),Math.floor(canvas.height / 2),(canvas.height / 2),0,Math.PI*2, false); // outer (filled)
        ctx.arc(Math.floor(canvas.width / 2),Math.floor(canvas.height / 2),(canvas.height / 2)*0.8,0,Math.PI*2, true); // outer (unfills it)
        ctx.fillStyle = color;
        ctx.fill();

        return true;
    }

    drawRing(document.getElementById("value-1"), "#c08863", 0);
    drawRing(document.getElementById("value-3"), "#c08863", 0);
    drawRing(document.getElementById("value-4"), "#c08863", 0);
    drawRing(document.getElementById("value-5"), "#c08863", 0);
    drawRing(document.getElementById("oee-1"), "#c08863", 0);

    atualizaRelogio();
    atualizar();

function updateRing(canvas, color, value){
    /*Capturar o contexto e salvar a cor utilizada*/
    var ctx = canvas.getContext('2d');
    /*Limpar o desenho*/
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    /*Desenhar novamente*/
    drawRing(canvas, color, value);
    return true;
    }

    var options1 = {
        maintainAspectRatio: false,
        responsive: true,
        tooltips: {
        enabled: false
        },
        legend:{
        labels: {
                fontColor: "black",
                fontSize: 0,
                boxWidth: 0,
                padding: 10,
            },
            onClick: (e) => e.stopPropagation(),
            position:'bottom',
            aling:'start',
        },
        scales: {
        xAxes: [{
            ticks: {
                fontColor: "black",
                fontSize: 12
            },
            gridLines:{color:'#343a40'}
        }],
        yAxes: [{
            ticks: {
                fontColor: "black",
                suggestedMin: 0,
                suggestedMax: 120,
                stepSize:200
            },
            display: false
        }],
        },
        hover: {
              animationDuration: 0
            },
        animation: {
            duration: 1,
            onComplete: function() {
            var chartInstance = this.chart,
                ctx = chartInstance.ctx;
 
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                ctx.font = "16px arial"
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
 
                this.data.datasets.forEach(function(dataset, i) {
                  var meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data +'%', bar._model.x, bar._model.y +2);
                  });
                });
              }
            },
        title: {
            display: false
        }
    };

    var options2 = {
        maintainAspectRatio: false,
        responsive: true,
        tooltips: {
        enabled: false
        },
        legend:{
        labels: {
                fontColor: "black",
                fontSize: 0,
                boxWidth: 0,
                padding: 10,
            },
        },
        scales: {
        xAxes: [{
            ticks: {
                fontColor: "black",
                fontSize: 10
            },
            gridLines:{color:'#343a40'}
        }],
        yAxes: [{
            ticks: {
                fontColor: "black",
                suggestedMin: 0,
                stepSize:20
            },
            display: true
        }],
        },
        hover: {
              animationDuration: 0
            }
    };

    var options3 = {
        maintainAspectRatio: false,
        responsive: true,
        tooltips: {
        enabled: false
        },
        legend:{
        labels: {
                fontColor: "black",
                fontSize: 0,
                boxWidth: 0,
                padding: 10,
            },
        },
        scales: {
        xAxes: [{
            ticks: {
                fontColor: "black",
                fontSize: 10
            },
            gridLines:{color:'#343a40'}
        }],
        yAxes: [{
            ticks: {
                fontColor: "black",
            },
            display: true
        }],
        },
        hover: {
              animationDuration: 0
            }
    };

    var dtoeearray1 = ['INDICADORES OEE'];
    var indicadores = ["Disponibilidade", "Performance", "Qualidade"];
    var colouarray = ['red', 'green', 'blue'];
    var initialData = [0, 0, 0, 0];
    var color1 = ['#003f5c', '#58508d' ,'#bc5090', '#ff6361', '#ffa600']
    var updatedInd1;

    /*grafico 1 */
    var ctx1 = document.getElementById("grafico-1");
    var chart1 = new Chart(ctx1, {
            type: 'bar',
            options:options1,
            data: {
                labels: indicadores,
                datasets: [{
                    backgroundColor: colouarray,
                    data: initialData
                }]
            }
        });
    
    /*grafico 2 - Paradas */
    var ctx3 = document.getElementById("grafico-3");
    var chart3 = new Chart(ctx3, {
            type: 'bar',
            options:options3,
            data: {
                datasets: [{
                    backgroundColor: color1,
                    data: initialData
                }]
            }
        });
    
    /*grafico 3 - Refugos */
    var ctx4 = document.getElementById("grafico-4");
    var chart4 = new Chart(ctx4, {
            type: 'bar',
            options:options2,
            data: {
                datasets: [{
                    backgroundColor: color1,
                    data: initialData
                }]
            }
        });

    
    function prepareLineData(jsondata, colors){
    var result=[];
    /*Criar uma cópia do json recebido para deletar uma entrada*/
    var receivedData = {...jsondata};
    Object.keys(receivedData).forEach(function(source, index) {
    result.push({
        data: jsondata[source],
        backgroundColor: colors[source],
        label: source,
        fill: false,
        borderColor: "#27aeef"
    });
    });   
    return result;
    }

    var backgroundColorDict={
        'ciclo': '#0434738d'
    }

    /*Construir gráficos*/
    Chart.defaults.global.defaultFontColor = '#000000';
    jQuery.ajax({
            url:'/relatorio-takt',
            type: 'GET',
            data: {'base-tempo': '01 day'},
            success:  function(response){
                /*Preparar dados para inserir no gráfico de linhas*/
                var lineData = prepareLineData(response, backgroundColorDict);
                console.log(lineData);
                /*Montar gráfico*/
                lineChart = new Chart(document.getElementById("grafico-2"), 
                {
                    type: 'line', 
                    data:   {
                                datasets:   lineData,
                                fill: false
                            }, 
                    options:{       
                                legend: {
                                    display: false
                                },
                                animation: {
                                    duration: 0
                                },
                                scales:     {   
                                                xAxes:  [
                                                            {   
                                                                type: 'time',
                                                                display: false, 
                                                                
                                                                time:   {
                                                                            parser: 'DD/MM/YYYY HH:mm',
                                                                            
                                                                            displayFormats: {
                                                                                                millisecond: 'HH:mm',
                                                                                                second: 'HH:mm',
                                                                                                minute: 'HH:mm', 
                                                                                                hour: 'DD/MM HH:mm', 
                                                                                                day: 'DD/MM HH:mm', 
                                                                                                month:'DD/MM/YY'
                                                                                            }
                                                                        }
                                                            }, 
                                                            {   
                                                                gridLines:  {color:'#FFFFFF'},
                                                                display: false

                                                            }
                                                        ],
                                                yAxes: [ {
                                                    beginAtZero: true,
                                                }
                                                ]
                                            },
                                tooltips:   {callbacks: {
                                                    title: function (tooltipItems) {
                                                    return 'Tempo de ciclo:';
                                                    },
                                                    label: function(tooltipItem) {
                                                        return Number(tooltipItem.yLabel) + " Segundos";
                                                    },  
                                                },
                                                titleFont: {weight: 'bold'},
                                                bodyFont: {weight: 'bold'},
                                                backgroundColor:'#d5d3bf', 
                                                bodyFontColor:'#000000', 
                                                titleFontColor:'#000000',
                                            },
                                maintainAspectRatio: false,
                                responsive: true
                            }
                });
            }
    });
    /*Function to update the bar chart*/
    function updateBarGraph(chart, color, data) {
        chart.data.datasets.pop();
        chart.data.datasets.push({
            backgroundColor: color,
            data: data
        });
        chart.update();
    }

    function atualizar(){
        jQuery.ajax({
        url:'/dadosoee',
        type: 'GET',
        data: {'id-maquina': '1'},
        success:  function(response){
            for (let index = response['all'].length - 1; index >= 0; index--) {
                const oee = response['all'][index];
                
                //Maquina
                if (oee [0] != 'Parada'){
                    updateRing(document.getElementById("value-1"), "#4BB543", oee[0]);
                    updateRing(document.getElementById("value-3"), "#FFCC00", oee[10]);
                    updateRing(document.getElementById("value-4"), "#FFCC00", oee[9]);
                    updateRing(document.getElementById("value-5"), "#0275d8", oee[6]);
                    document.getElementById("dtinicio").innerHTML = 'Data de Inicio: '+ oee[11];
                    if (oee[12]=='funcionando'){
                        jQuery('#card-1').removeClass().addClass('card-header bg-success');
                        jQuery('#estado-setup').removeClass().addClass("alert alert-success");
                        jQuery('#estado-setup').text('Máquina Produzindo');
                    }
                    else{
                        jQuery('#card-1').removeClass().addClass('card-header bg-warning');
                        jQuery('#estado-setup').removeClass().addClass("alert alert-warning");
                        jQuery('#estado-setup').text('Máquina Parada: ' + oee[13] + ' | Tempo: ' + oee[14] + ' Minutos');
                    }
                }
                else {
                    updateRing(document.getElementById("value-1"), "#FF0000", oee[0]);
                    updateRing(document.getElementById("value-4"), "#FFCC00", '0');
                    updateRing(document.getElementById("value-5"), "#0275d8", '0');
                    updateRing(document.getElementById("value-5"), "#0275d8", oee[6]);
                    jQuery('#card-1').removeClass().addClass('card-header bg-danger');
                }
                if (oee[4] >= 85){
                    updateRing(document.getElementById("oee-1"), "#4BB543", oee[4]);
                }
                else if(oee[4] < 85 && oee[4] > 65){
                    updateRing(document.getElementById("oee-1"), "#0275d8", oee[4]);
                }
                else {
                    updateRing(document.getElementById("oee-1"), "#FF0000", oee[4]);
                }
                updatedInd = [oee[2], oee[1], oee[3]];
                updateBarGraph(chart1, colouarray, updatedInd);
                jQuery('#qt1').text(oee[7][0]);
                jQuery('#qt2').text(oee[7][1]);
                jQuery('#qt3').text(oee[7][2]);
                jQuery('#qt4').text(oee[7][3]);
                jQuery('#qt5').text(oee[7][4]);
                jQuery('#qt6').text(oee[7][5]);
                jQuery('#qt7').text(oee[7][6]);
                jQuery('#qt8').text(oee[7][7]);
                jQuery('#qt9').text(oee[7][8]);
                jQuery('#qt10').text(oee[7][9]);

                jQuery('#qt11').text(oee[7][10]);
                jQuery('#qt12').text(oee[7][11]);
                jQuery('#qt13').text(oee[7][12]);
                jQuery('#qt14').text(oee[7][13]);
                jQuery('#qt15').text(oee[7][14]);
                jQuery('#qt16').text(oee[7][15]);
                jQuery('#qt17').text(oee[7][16]);
                jQuery('#qt18').text(oee[7][17]);
                jQuery('#qt19').text(oee[7][18]);
                jQuery('#qt20').text(oee[7][19]);

                jQuery.ajax({
                url:'/relatorio-takt',
                type: 'GET',
                data: {'base-tempo': oee[8], 'id-maquina': '1'},
                success:  function(response){
                    lineChart.data.datasets = prepareLineData(response, backgroundColorDict);
                    lineChart.update();
                    jQuery('#takt').removeClass().addClass("alert alert-success");
                    jQuery('#takt').text('Ciclo Médio :' + response['media'] + ' Segundos');
                    }
                });
                console.log(oee[8])
                jQuery.ajax({
                url:'/relatorio-parada',
                type: 'GET',
                data: {'base-tempo': oee[8], 'id-maquina': '1'},
                success:  function(response){
                    console.log(response['motivo']);
                    if(response['motivo']!=''){
                        dados=(response['motivo'].length);
                        chart3.data.labels=response['motivo']
                        for (var i=0; i < dados; i++){
                            chart3.data.datasets[0].data[i]=response['tempo'][i]
                        }
                        chart3.update();
                    }
                    else{
                        chart3.data.labels=['']
                        chart3.data.datasets[0].data[0]=['0']
                        chart3.update();
                    }
                }
                });
                jQuery.ajax({
                url:'/relatorio-refugo',
                type: 'GET',
                data: {'base-tempo': oee[8], 'id-maquina': '1'},
                success:  function(response){
                    if(response['refugos']!=''){
                        dados1=(response['refugos'].length);
                        chart4.data.labels=response['motivo']
                        console.log(response['refugos']);
                        for (var i=0; i < dados1; i++){
                            chart4.data.datasets[0].data[i]=response['refugos'][i]
                        }
                        chart4.update();
                    }
                    else{
                        chart4.data.labels=['']
                        chart4.data.datasets[0].data[0]=['0']
                        chart4.update();
                    }
                }
                });
                        
            }
        }
    });
    };
    setInterval(atualizar, 10000);

    setTimeout(function(){
        window.location.reload(1);
    }, 120000);

</script>



{% endblock %}