html {
    height: 100%;
}

.container-fluid {
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    background-color: #F1F1F1;
    height: 100%;
}

.card-header{
    background-color: #8fd2e296 !important;
    border-radius: 15px !important;
}

.navbar {
    background-color: #597beb93;
    margin-bottom: 2px;
    border-color: #043573;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.card-body {
    width: 100%
}

.card-header {
    background-color: #73040421;
}

.canvasChart {
    max-width: 100%;
}

.canvasRing {
    max-width: 100%;
}

.tableSelected {
    background-color: #FFD480;
    color: black;
}

.bigIcon {
    font-size: 120px;
    color: #043573
}

.formErrorMsg {
    font-size: 10px;
    color: red;
}

.bigInput {
    resize: none;
}

.indicator-square {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 15%;
    width: 50px;
    height: 25px;
    border-color: blanchedalmond;
}

.carousel-indicators li {
    width: 100px;
    height: 10px;
    border-radius: 10%;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 300px;
    width: 20px;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink 1.0s linear infinite;
}

#takt-1 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#estado-setup-1 {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#takt-2 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#estado-setup-2 {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#takt-3 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#estado-setup-3 {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#takt {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#estado-setup {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.card-active {
    border: 2px solid green;
    box-shadow: 0 0 10px green;
    margin-top: 10px;
    text-align: center;
}

.card-inactive {
    border: 2px solid red;
    box-shadow: 0 0 10px red;
    margin-top: 10px;
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink 1.0s linear infinite;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}